WebServiceClient/web/WEB-INF/wsdl/localhost_8080/WebService/ProiectWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webPackage/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webPackage/" name="ProiectWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webPackage/" schemaLocation="http://localhost:8080/WebService/ProiectWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="select">
<part name="parameters" element="tns:select"/>
</message>
<message name="selectResponse">
<part name="parameters" element="tns:selectResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="adaugareComanda">
<part name="parameters" element="tns:adaugareComanda"/>
</message>
<message name="adaugareComandaResponse">
<part name="parameters" element="tns:adaugareComandaResponse"/>
</message>
<message name="prenumeClient">
<part name="parameters" element="tns:prenumeClient"/>
</message>
<message name="prenumeClientResponse">
<part name="parameters" element="tns:prenumeClientResponse"/>
</message>
<message name="numeDestinatar">
<part name="parameters" element="tns:numeDestinatar"/>
</message>
<message name="numeDestinatarResponse">
<part name="parameters" element="tns:numeDestinatarResponse"/>
</message>
<message name="prenumeDestinatar">
<part name="parameters" element="tns:prenumeDestinatar"/>
</message>
<message name="prenumeDestinatarResponse">
<part name="parameters" element="tns:prenumeDestinatarResponse"/>
</message>
<message name="selectDestinatar">
<part name="parameters" element="tns:selectDestinatar"/>
</message>
<message name="selectDestinatarResponse">
<part name="parameters" element="tns:selectDestinatarResponse"/>
</message>
<message name="updateComanda">
<part name="parameters" element="tns:updateComanda"/>
</message>
<message name="updateComandaResponse">
<part name="parameters" element="tns:updateComandaResponse"/>
</message>
<message name="selectPackage">
<part name="parameters" element="tns:selectPackage"/>
</message>
<message name="selectPackageResponse">
<part name="parameters" element="tns:selectPackageResponse"/>
</message>
<message name="selectCamioane">
<part name="parameters" element="tns:selectCamioane"/>
</message>
<message name="selectCamioaneResponse">
<part name="parameters" element="tns:selectCamioaneResponse"/>
</message>
<message name="numeClient">
<part name="parameters" element="tns:numeClient"/>
</message>
<message name="numeClientResponse">
<part name="parameters" element="tns:numeClientResponse"/>
</message>
<message name="continut">
<part name="parameters" element="tns:continut"/>
</message>
<message name="continutResponse">
<part name="parameters" element="tns:continutResponse"/>
</message>
<message name="volum">
<part name="parameters" element="tns:volum"/>
</message>
<message name="volumResponse">
<part name="parameters" element="tns:volumResponse"/>
</message>
<message name="destinatii">
<part name="parameters" element="tns:destinatii"/>
</message>
<message name="destinatiiResponse">
<part name="parameters" element="tns:destinatiiResponse"/>
</message>
<message name="selectPack">
<part name="parameters" element="tns:selectPack"/>
</message>
<message name="selectPackResponse">
<part name="parameters" element="tns:selectPackResponse"/>
</message>
<message name="rejected">
<part name="parameters" element="tns:rejected"/>
</message>
<message name="rejectedResponse">
<part name="parameters" element="tns:rejectedResponse"/>
</message>
<message name="stareColet">
<part name="parameters" element="tns:stareColet"/>
</message>
<message name="stareColetResponse">
<part name="parameters" element="tns:stareColetResponse"/>
</message>
<message name="delivered">
<part name="parameters" element="tns:delivered"/>
</message>
<message name="deliveredResponse">
<part name="parameters" element="tns:deliveredResponse"/>
</message>
<message name="insertSofer">
<part name="parameters" element="tns:insertSofer"/>
</message>
<message name="insertSoferResponse">
<part name="parameters" element="tns:insertSoferResponse"/>
</message>
<message name="modifySofer">
<part name="parameters" element="tns:modifySofer"/>
</message>
<message name="modifySoferResponse">
<part name="parameters" element="tns:modifySoferResponse"/>
</message>
<message name="insertCamion">
<part name="parameters" element="tns:insertCamion"/>
</message>
<message name="insertCamionResponse">
<part name="parameters" element="tns:insertCamionResponse"/>
</message>
<message name="deleteSofer">
<part name="parameters" element="tns:deleteSofer"/>
</message>
<message name="deleteSoferResponse">
<part name="parameters" element="tns:deleteSoferResponse"/>
</message>
<message name="modifyCamion">
<part name="parameters" element="tns:modifyCamion"/>
</message>
<message name="modifyCamionResponse">
<part name="parameters" element="tns:modifyCamionResponse"/>
</message>
<message name="deleteCamion">
<part name="parameters" element="tns:deleteCamion"/>
</message>
<message name="deleteCamionResponse">
<part name="parameters" element="tns:deleteCamionResponse"/>
</message>
<message name="suma">
<part name="parameters" element="tns:suma"/>
</message>
<message name="sumaResponse">
<part name="parameters" element="tns:sumaResponse"/>
</message>
<message name="idComanda">
<part name="parameters" element="tns:idComanda"/>
</message>
<message name="idComandaResponse">
<part name="parameters" element="tns:idComandaResponse"/>
</message>
<message name="getStare">
<part name="parameters" element="tns:getStare"/>
</message>
<message name="getStareResponse">
<part name="parameters" element="tns:getStareResponse"/>
</message>
<message name="selectClient">
<part name="parameters" element="tns:selectClient"/>
</message>
<message name="selectClientResponse">
<part name="parameters" element="tns:selectClientResponse"/>
</message>
<message name="selectSoferi">
<part name="parameters" element="tns:selectSoferi"/>
</message>
<message name="selectSoferiResponse">
<part name="parameters" element="tns:selectSoferiResponse"/>
</message>
<message name="traseu">
<part name="parameters" element="tns:traseu"/>
</message>
<message name="traseuResponse">
<part name="parameters" element="tns:traseuResponse"/>
</message>
<message name="selectCamion">
<part name="parameters" element="tns:selectCamion"/>
</message>
<message name="selectCamionResponse">
<part name="parameters" element="tns:selectCamionResponse"/>
</message>
<message name="lista">
<part name="parameters" element="tns:lista"/>
</message>
<message name="listaResponse">
<part name="parameters" element="tns:listaResponse"/>
</message>
<portType name="ProiectWebService">
<operation name="register">
<input wsam:Action="http://webPackage/ProiectWebService/registerRequest" message="tns:register"/>
<output wsam:Action="http://webPackage/ProiectWebService/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="select">
<input wsam:Action="http://webPackage/ProiectWebService/selectRequest" message="tns:select"/>
<output wsam:Action="http://webPackage/ProiectWebService/selectResponse" message="tns:selectResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://webPackage/ProiectWebService/loginRequest" message="tns:login"/>
<output wsam:Action="http://webPackage/ProiectWebService/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="adaugareComanda">
<input wsam:Action="http://webPackage/ProiectWebService/adaugareComandaRequest" message="tns:adaugareComanda"/>
<output wsam:Action="http://webPackage/ProiectWebService/adaugareComandaResponse" message="tns:adaugareComandaResponse"/>
</operation>
<operation name="prenumeClient">
<input wsam:Action="http://webPackage/ProiectWebService/prenumeClientRequest" message="tns:prenumeClient"/>
<output wsam:Action="http://webPackage/ProiectWebService/prenumeClientResponse" message="tns:prenumeClientResponse"/>
</operation>
<operation name="numeDestinatar">
<input wsam:Action="http://webPackage/ProiectWebService/numeDestinatarRequest" message="tns:numeDestinatar"/>
<output wsam:Action="http://webPackage/ProiectWebService/numeDestinatarResponse" message="tns:numeDestinatarResponse"/>
</operation>
<operation name="prenumeDestinatar">
<input wsam:Action="http://webPackage/ProiectWebService/prenumeDestinatarRequest" message="tns:prenumeDestinatar"/>
<output wsam:Action="http://webPackage/ProiectWebService/prenumeDestinatarResponse" message="tns:prenumeDestinatarResponse"/>
</operation>
<operation name="selectDestinatar">
<input wsam:Action="http://webPackage/ProiectWebService/selectDestinatarRequest" message="tns:selectDestinatar"/>
<output wsam:Action="http://webPackage/ProiectWebService/selectDestinatarResponse" message="tns:selectDestinatarResponse"/>
</operation>
<operation name="updateComanda">
<input wsam:Action="http://webPackage/ProiectWebService/updateComandaRequest" message="tns:updateComanda"/>
<output wsam:Action="http://webPackage/ProiectWebService/updateComandaResponse" message="tns:updateComandaResponse"/>
</operation>
<operation name="selectPackage">
<input wsam:Action="http://webPackage/ProiectWebService/selectPackageRequest" message="tns:selectPackage"/>
<output wsam:Action="http://webPackage/ProiectWebService/selectPackageResponse" message="tns:selectPackageResponse"/>
</operation>
<operation name="selectCamioane">
<input wsam:Action="http://webPackage/ProiectWebService/selectCamioaneRequest" message="tns:selectCamioane"/>
<output wsam:Action="http://webPackage/ProiectWebService/selectCamioaneResponse" message="tns:selectCamioaneResponse"/>
</operation>
<operation name="numeClient">
<input wsam:Action="http://webPackage/ProiectWebService/numeClientRequest" message="tns:numeClient"/>
<output wsam:Action="http://webPackage/ProiectWebService/numeClientResponse" message="tns:numeClientResponse"/>
</operation>
<operation name="continut">
<input wsam:Action="http://webPackage/ProiectWebService/continutRequest" message="tns:continut"/>
<output wsam:Action="http://webPackage/ProiectWebService/continutResponse" message="tns:continutResponse"/>
</operation>
<operation name="volum">
<input wsam:Action="http://webPackage/ProiectWebService/volumRequest" message="tns:volum"/>
<output wsam:Action="http://webPackage/ProiectWebService/volumResponse" message="tns:volumResponse"/>
</operation>
<operation name="destinatii">
<input wsam:Action="http://webPackage/ProiectWebService/destinatiiRequest" message="tns:destinatii"/>
<output wsam:Action="http://webPackage/ProiectWebService/destinatiiResponse" message="tns:destinatiiResponse"/>
</operation>
<operation name="selectPack">
<input wsam:Action="http://webPackage/ProiectWebService/selectPackRequest" message="tns:selectPack"/>
<output wsam:Action="http://webPackage/ProiectWebService/selectPackResponse" message="tns:selectPackResponse"/>
</operation>
<operation name="rejected">
<input wsam:Action="http://webPackage/ProiectWebService/rejectedRequest" message="tns:rejected"/>
<output wsam:Action="http://webPackage/ProiectWebService/rejectedResponse" message="tns:rejectedResponse"/>
</operation>
<operation name="stareColet">
<input wsam:Action="http://webPackage/ProiectWebService/stareColetRequest" message="tns:stareColet"/>
<output wsam:Action="http://webPackage/ProiectWebService/stareColetResponse" message="tns:stareColetResponse"/>
</operation>
<operation name="delivered">
<input wsam:Action="http://webPackage/ProiectWebService/deliveredRequest" message="tns:delivered"/>
<output wsam:Action="http://webPackage/ProiectWebService/deliveredResponse" message="tns:deliveredResponse"/>
</operation>
<operation name="insertSofer">
<input wsam:Action="http://webPackage/ProiectWebService/insertSoferRequest" message="tns:insertSofer"/>
<output wsam:Action="http://webPackage/ProiectWebService/insertSoferResponse" message="tns:insertSoferResponse"/>
</operation>
<operation name="modifySofer">
<input wsam:Action="http://webPackage/ProiectWebService/modifySoferRequest" message="tns:modifySofer"/>
<output wsam:Action="http://webPackage/ProiectWebService/modifySoferResponse" message="tns:modifySoferResponse"/>
</operation>
<operation name="insertCamion">
<input wsam:Action="http://webPackage/ProiectWebService/insertCamionRequest" message="tns:insertCamion"/>
<output wsam:Action="http://webPackage/ProiectWebService/insertCamionResponse" message="tns:insertCamionResponse"/>
</operation>
<operation name="deleteSofer">
<input wsam:Action="http://webPackage/ProiectWebService/deleteSoferRequest" message="tns:deleteSofer"/>
<output wsam:Action="http://webPackage/ProiectWebService/deleteSoferResponse" message="tns:deleteSoferResponse"/>
</operation>
<operation name="modifyCamion">
<input wsam:Action="http://webPackage/ProiectWebService/modifyCamionRequest" message="tns:modifyCamion"/>
<output wsam:Action="http://webPackage/ProiectWebService/modifyCamionResponse" message="tns:modifyCamionResponse"/>
</operation>
<operation name="deleteCamion">
<input wsam:Action="http://webPackage/ProiectWebService/deleteCamionRequest" message="tns:deleteCamion"/>
<output wsam:Action="http://webPackage/ProiectWebService/deleteCamionResponse" message="tns:deleteCamionResponse"/>
</operation>
<operation name="suma">
<input wsam:Action="http://webPackage/ProiectWebService/sumaRequest" message="tns:suma"/>
<output wsam:Action="http://webPackage/ProiectWebService/sumaResponse" message="tns:sumaResponse"/>
</operation>
<operation name="idComanda">
<input wsam:Action="http://webPackage/ProiectWebService/idComandaRequest" message="tns:idComanda"/>
<output wsam:Action="http://webPackage/ProiectWebService/idComandaResponse" message="tns:idComandaResponse"/>
</operation>
<operation name="getStare">
<input wsam:Action="http://webPackage/ProiectWebService/getStareRequest" message="tns:getStare"/>
<output wsam:Action="http://webPackage/ProiectWebService/getStareResponse" message="tns:getStareResponse"/>
</operation>
<operation name="selectClient">
<input wsam:Action="http://webPackage/ProiectWebService/selectClientRequest" message="tns:selectClient"/>
<output wsam:Action="http://webPackage/ProiectWebService/selectClientResponse" message="tns:selectClientResponse"/>
</operation>
<operation name="selectSoferi">
<input wsam:Action="http://webPackage/ProiectWebService/selectSoferiRequest" message="tns:selectSoferi"/>
<output wsam:Action="http://webPackage/ProiectWebService/selectSoferiResponse" message="tns:selectSoferiResponse"/>
</operation>
<operation name="traseu">
<input wsam:Action="http://webPackage/ProiectWebService/traseuRequest" message="tns:traseu"/>
<output wsam:Action="http://webPackage/ProiectWebService/traseuResponse" message="tns:traseuResponse"/>
</operation>
<operation name="selectCamion">
<input wsam:Action="http://webPackage/ProiectWebService/selectCamionRequest" message="tns:selectCamion"/>
<output wsam:Action="http://webPackage/ProiectWebService/selectCamionResponse" message="tns:selectCamionResponse"/>
</operation>
<operation name="lista">
<input wsam:Action="http://webPackage/ProiectWebService/listaRequest" message="tns:lista"/>
<output wsam:Action="http://webPackage/ProiectWebService/listaResponse" message="tns:listaResponse"/>
</operation>
</portType>
<binding name="ProiectWebServicePortBinding" type="tns:ProiectWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="select">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="adaugareComanda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="prenumeClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="numeDestinatar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="prenumeDestinatar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selectDestinatar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateComanda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selectPackage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selectCamioane">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="numeClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="continut">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="volum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="destinatii">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selectPack">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rejected">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="stareColet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delivered">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertSofer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modifySofer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertCamion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteSofer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modifyCamion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCamion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="suma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="idComanda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStare">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selectClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selectSoferi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traseu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selectCamion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="lista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProiectWebService">
<port name="ProiectWebServicePort" binding="tns:ProiectWebServicePortBinding">
<soap:address location="http://localhost:8080/WebService/ProiectWebService"/>
</port>
</service>
</definitions>